:root {
    --c-snow: #fff;
    --c-bg-primary: rgba(223, 219, 209, 1);
    --c-soot: rgba(70, 58, 43, 1);
    --c-soot-light: #999;

    --tr-small: 0.3s;
}

html, body, h1, h2, p, header, main, footer, div, select, input {
    box-sizing: border-box;
}

input, select {
    font: inherit;
    border: 1px solid var(--c-soot);
    border-radius: 0.6rem;
}

label {
    cursor: pointer;
}

html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 10px;
    background-color: var(--c-bg-primary);
    color: var(--c-soot);
}

.wrapper {
    height: 100%;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.main {
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
}

.filters-block {
    margin-bottom: 2rem;
}

.filters-block--cities {
    margin-bottom: 1.2rem;
    max-width: 25rem;
}

.headline, footer {
    text-align: center;
    text-transform: uppercase;
}

.footer {
    padding: 2rem;
}

.cards-list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.user-card {
    padding: 1.2rem;
    border-radius: 1.2rem;
    box-shadow: 0.2rem 0.2rem 0.8rem var(--c-soot-light);
    background-color: var(--c-snow);
    transition: transform var(--tr-small);
}

@media (hover: hover) {
    .user-card:hover {
        transform: scale(1.05);
        transform-origin: center;
    }
}

.filters-block {
    display: flex;
    gap: 1.2rem;
}

.filters-item {
    display: flex;
    flex-direction: column;
}

.filters-item:last-child {
    flex-grow: 1;
}

.filters-item__label {
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
}

.filters-item__input {
    opacity: 0.75;
    height: 3rem;
    padding: 0.5rem;
}

.filters-item__input:focus {
    opacity: 1;
}

.filters-item__input--search {
    width: 100%;
}

@media (min-width: 375px) {
    html, body {
        font-size: 11px;
    }
}

@media (min-width: 640px) {
    html, body {
        font-size: 12px;
    }

    .wrapper {
        padding: 2.4rem;
    }

    .cards-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem
    }

    .main {
        max-width: 60rem;
    }
}

@media (min-width: 1024px) {
    html, body {
        font-size: 13px;
    }
}

@media (min-width: 1280px) {
    html, body {
        font-size: 14px;
    }

    .cards-list {
        max-width: 100rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.4rem
    }

    .main {
        max-width: 100rem;
    }
}

.hidden {
    display: none;
}